body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 10px;
    min-height: 70px;
    border-bottom: 4px solid #e8491d;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
}

.icon {
    width: 32px;
    height: 32px;
}